p {
    font-size: 20px;
    font-family: cursive;
    color: #170e64;
    background-color: #ededed;
    text-shadow: 2px 4px 2px #dedce7;
}
h1,h2 {
    font-family: "Times New Roman", Times, serif;
    color: #edecff;
    background-color: #58758d;
    text-shadow: 6px 4px 4px #e1d5d5;
}